Repository sdradic/dradic_technologies: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-expense-tracker, lint-expense-tracker, mypy-expense-tracker, check-deps-expense-tracker-frontend, format-expense-tracker-frontend, lint-expense-tracker-frontend, check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

format-expense-tracker:
  name: Format unified_backend/apis/routers/expense_tracker
  entry: sh -c 'cd unified_backend/apis/routers/expense_tracker &&  uv sync --all-extras && uv run ruff format .'
  language: python
  stages:
  - pre-commit

lint-expense-tracker:
  name: Lint unified_backend/apis/routers/expense_tracker
  entry: sh -c 'cd unified_backend/apis/routers/expense_tracker && uv sync --all-extras && uv run ruff check --fix .'
  language: python
  stages:
  - pre-commit

mypy-expense-tracker:
  name: Mypy unified_backend/apis/routers/expense_tracker
  entry: sh -c 'cd unified_backend/apis/routers/expense_tracker && uv sync --all-extras && uv run mypy .'
  language: python
  stages:
  - pre-commit

check-deps-expense-tracker-frontend:
  name: Check dependencies for expense tracker frontend
  entry: sh -c 'cd expense_tracker && pnpm install --frozen-lockfile || (echo "You need to run pnpm install first" && exit 1)'
  language: node
  pass_filenames: false
  stages:
  - pre-commit

format-expense-tracker-frontend:
  name: Format dradic_tech/app/routes/expense_tracker
  entry: sh -c 'cd expense_tracker && pnpm run format'
  language: node
  stages:
  - pre-commit

lint-expense-tracker-frontend:
  name: Lint expense tracker frontend
  entry: sh -c 'cd expense_tracker && pnpm run lint'
  language: node
  stages:
  - pre-commit

check-deps-dradic-tech-frontend:
  name: Check dependencies for dradic tech frontend
  entry: sh -c 'cd dradic_tech && pnpm install --frozen-lockfile || (echo "You need to run pnpm install first" && exit 1)'
  language: node
  pass_filenames: false
  stages:
  - pre-commit

format-dradic-tech-frontend:
  name: Format dradic_tech/app
  entry: sh -c 'cd dradic_tech && pnpm run format'
  language: node
  stages:
  - pre-commit

lint-dradic-tech-frontend:
  name: Lint dradic tech frontend
  entry: sh -c 'cd dradic_tech && pnpm run lint'
  language: node
  stages:
  - pre-commit

Fixed gym tracker in cors
  unified_backend/apis/main.py
Due: none

Initialize Expense Tracker application with Next.js, TypeScript, and Tailwind CSS
  expense_tracker_nextjs/.gitignore
  expense_tracker_nextjs/README.md
  expense_tracker_nextjs/app/dashboard/page.tsx
  expense_tracker_nextjs/app/expenses/page.tsx
  expense_tracker_nextjs/app/favicon.ico
  expense_tracker_nextjs/app/globals.css
  expense_tracker_nextjs/app/incomes/page.tsx
  expense_tracker_nextjs/app/layout.tsx
  expense_tracker_nextjs/app/login/page.tsx
  expense_tracker_nextjs/app/page.tsx
  expense_tracker_nextjs/app/providers.tsx
  expense_tracker_nextjs/components/AuthGuard.tsx
  expense_tracker_nextjs/components/Loader.tsx
  expense_tracker_nextjs/components/Navbar.tsx
  expense_tracker_nextjs/components/Sidebar.tsx
  expense_tracker_nextjs/components/ThemeToggle.tsx
  expense_tracker_nextjs/contexts/AuthContext.tsx
  expense_tracker_nextjs/contexts/ThemeContext.tsx
  expense_tracker_nextjs/eslint.config.mjs
  expense_tracker_nextjs/lib/apis.ts
  expense_tracker_nextjs/lib/supabase.ts
  expense_tracker_nextjs/lib/types.ts
  expense_tracker_nextjs/lib/utils.ts
  expense_tracker_nextjs/next.config.ts
  expense_tracker_nextjs/package-lock.json
  expense_tracker_nextjs/package.json
  expense_tracker_nextjs/pnpm-lock.yaml
  expense_tracker_nextjs/postcss.config.mjs
  expense_tracker_nextjs/public/file.svg
  expense_tracker_nextjs/public/globe.svg
  expense_tracker_nextjs/public/next.svg
  expense_tracker_nextjs/public/vercel.svg
  expense_tracker_nextjs/public/window.svg
  expense_tracker_nextjs/tailwind.config.ts
  expense_tracker_nextjs/tsconfig.json
Due: none

Update gym tracker url
  dradic_tech/app/routes/portfolio/apps.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Add lucide-react dependency and update styles
  dradic_tech/app/app.css
  dradic_tech/app/components/ContactForm.tsx
  dradic_tech/app/components/Footer.tsx
  dradic_tech/app/components/Logo.tsx
  dradic_tech/app/components/Navbar.tsx
  dradic_tech/app/components/UnifiedNav.tsx
  dradic_tech/app/root.tsx
  dradic_tech/app/routes.ts
  dradic_tech/app/routes/blog/index.tsx
  dradic_tech/app/routes/index.tsx
  dradic_tech/app/routes/portfolio/apps.tsx
  dradic_tech/app/routes/portfolio/index.tsx
  dradic_tech/app/routes/portfolio/projects.tsx
  dradic_tech/app/routes/team.tsx
  dradic_tech/package.json
  dradic_tech/pnpm-lock.yaml
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Remove ContactForm and MemberCard components, streamline Footer and Navbar logic
  dradic_tech/app/components/ContactForm.tsx
  dradic_tech/app/components/Footer.tsx
  dradic_tech/app/components/Icons.tsx
  dradic_tech/app/components/MemberCard.tsx
  dradic_tech/app/components/Navbar.tsx
  dradic_tech/app/modules/utils.ts
  dradic_tech/app/routes/index.tsx
  dradic_tech/app/routes/team.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Update dependencies, enhance styles, and improve markdown handling
  dradic_tech/app/app.css
  dradic_tech/app/components/BlogPostForm.tsx
  dradic_tech/app/components/Dropdown.tsx
  dradic_tech/app/components/Footer.tsx
  dradic_tech/app/components/PostEditor.tsx
  dradic_tech/app/components/PostList.tsx
  dradic_tech/app/components/SearchBar.tsx
  dradic_tech/app/components/ThemeToggle.tsx
  dradic_tech/app/components/UnifiedNav.tsx
  dradic_tech/app/routes/admin/index.tsx
  dradic_tech/app/routes/blog/index.tsx
  dradic_tech/app/routes/blog/post.tsx
  dradic_tech/app/routes/index.tsx
  dradic_tech/app/routes/portfolio/apps.tsx
  dradic_tech/package.json
  dradic_tech/pnpm-lock.yaml
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

remove unnecessary dependency
  dradic_tech/app/app.css
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend

Refactor markdown rendering system and enhance UI components
  dradic_tech/app/components/Dropdown.tsx
  dradic_tech/app/components/LanguageToggle.tsx
  dradic_tech/app/components/MDXEditor.tsx
  dradic_tech/app/components/PostEditor.tsx
  dradic_tech/app/components/SearchModal.tsx
  dradic_tech/app/components/markdown/MarkdownConfig.ts
  dradic_tech/app/components/markdown/MarkdownRenderer.tsx
  dradic_tech/app/components/markdown/README.md
  dradic_tech/app/components/markdown/index.ts
  dradic_tech/app/components/markdown/markdownUtils.ts
  dradic_tech/app/modules/utils.ts
  dradic_tech/app/routes.ts
  dradic_tech/app/routes/admin/post.tsx
  dradic_tech/app/routes/blog/index.tsx
  dradic_tech/app/routes/index.tsx
  dradic_tech/app/routes/portfolio/apps.tsx
  dradic_tech/app/routes/portfolio/index.tsx
  dradic_tech/app/routes/portfolio/projects.tsx
  dradic_tech/app/routes/team.tsx
  dradic_tech/package.json
  dradic_tech/pnpm-lock.yaml
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Add MarkdownPasteModal component and integrate into PostEditor
  dradic_tech/app/components/MDXEditor.tsx
  dradic_tech/app/components/MarkdownPasteModal.tsx
  dradic_tech/app/components/PostEditor.tsx
  dradic_tech/app/components/markdown/README.md
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Enhance MDXEditor with new markdown processing features and UI improvements
  dradic_tech/app/components/MDXEditor.tsx
  dradic_tech/app/components/markdown/markdownUtils.ts
  dradic_tech/app/components/markdown/pasteHtmlAsMarkdownPlugin.ts
  dradic_tech/app/routes/index.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Update styles, refactor layout, and enhance modal components
  expense_tracker/app/app.css
  expense_tracker/app/components/CreateEditModal.tsx
  expense_tracker/app/components/Dropdown.tsx
  expense_tracker/app/components/EmptyState.tsx
  expense_tracker/app/components/HeaderButton.tsx
  expense_tracker/app/components/Icons.tsx
  expense_tracker/app/components/Layout.tsx
  expense_tracker/app/components/Navbar.tsx
  expense_tracker/app/components/PageHeader.tsx
  expense_tracker/app/components/Sidebar.tsx
  expense_tracker/app/components/SimpleCard.tsx
  expense_tracker/app/components/SimpleModal.tsx
  expense_tracker/app/components/SimpleTable.tsx
  expense_tracker/app/contexts/AuthContext.tsx
  expense_tracker/app/hooks/useExpensesData.tsx
  expense_tracker/app/root.tsx
  expense_tracker/app/routes/contact.tsx
  expense_tracker/app/routes/dashboard.tsx
  expense_tracker/app/routes/expenses.tsx
  expense_tracker/app/routes/groups.tsx
  expense_tracker/app/routes/incomes.tsx
  expense_tracker/app/routes/login.tsx
  expense_tracker/app/routes/settings.tsx
  expense_tracker/app/routes/signup.tsx
Due: check-deps-expense-tracker-frontend, format-expense-tracker-frontend, lint-expense-tracker-frontend

Path conditions:
  format-expense-tracker: any of: ^unified_backend/apis/routers/expense_tracker/
  lint-expense-tracker: any of: ^unified_backend/apis/routers/expense_tracker/
  mypy-expense-tracker: any of: ^unified_backend/apis/routers/expense_tracker/
  check-deps-expense-tracker-frontend: any of: ^expense_tracker/
  format-expense-tracker-frontend: any of: ^expense_tracker/app/.*\.(js|jsx|ts|tsx|css|scss|json|md)$
  lint-expense-tracker-frontend: any of: ^expense_tracker/app/.*\.(js|jsx|ts|tsx)$
  check-deps-dradic-tech-frontend: any of: ^dradic_tech/app/
  format-dradic-tech-frontend: any of: ^dradic_tech/app/.*\.(js|jsx|ts|tsx|css|scss|json|md)$
  lint-dradic-tech-frontend: any of: ^dradic_tech/app/.*\.(js|jsx|ts|tsx)$
