Repository sdradic/dradic_technologies: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-expense-tracker, lint-expense-tracker, mypy-expense-tracker, check-deps-expense-tracker-frontend, format-expense-tracker-frontend, lint-expense-tracker-frontend, check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

format-expense-tracker:
  name: Format unified_backend/apis/routers/expense_tracker
  entry: sh -c 'cd unified_backend/apis/routers/expense_tracker &&  uv sync --all-extras && uv run ruff format .'
  language: python
  stages:
  - pre-commit

lint-expense-tracker:
  name: Lint unified_backend/apis/routers/expense_tracker
  entry: sh -c 'cd unified_backend/apis/routers/expense_tracker && uv sync --all-extras && uv run ruff check --fix .'
  language: python
  stages:
  - pre-commit

mypy-expense-tracker:
  name: Mypy unified_backend/apis/routers/expense_tracker
  entry: sh -c 'cd unified_backend/apis/routers/expense_tracker && uv sync --all-extras && uv run mypy .'
  language: python
  stages:
  - pre-commit

check-deps-expense-tracker-frontend:
  name: Check dependencies for expense tracker frontend
  entry: sh -c 'cd expense_tracker && pnpm install --frozen-lockfile || (echo "You need to run pnpm install first" && exit 1)'
  language: node
  pass_filenames: false
  stages:
  - pre-commit

format-expense-tracker-frontend:
  name: Format dradic_tech/app/routes/expense_tracker
  entry: sh -c 'cd expense_tracker && pnpm run format'
  language: node
  stages:
  - pre-commit

lint-expense-tracker-frontend:
  name: Lint expense tracker frontend
  entry: sh -c 'cd expense_tracker && pnpm run lint'
  language: node
  stages:
  - pre-commit

check-deps-dradic-tech-frontend:
  name: Check dependencies for dradic tech frontend
  entry: sh -c 'cd dradic_tech && pnpm install --frozen-lockfile || (echo "You need to run pnpm install first" && exit 1)'
  language: node
  pass_filenames: false
  stages:
  - pre-commit

format-dradic-tech-frontend:
  name: Format dradic_tech/app
  entry: sh -c 'cd dradic_tech && pnpm run format'
  language: node
  stages:
  - pre-commit

lint-dradic-tech-frontend:
  name: Lint dradic tech frontend
  entry: sh -c 'cd dradic_tech && pnpm run lint'
  language: node
  stages:
  - pre-commit

Fixed some lint warnings
  dradic_tech/app/components/Icons.tsx
  dradic_tech/app/components/MDXEditor.tsx
  dradic_tech/app/components/PostEditor.tsx
  dradic_tech/app/contexts/AuthContext.tsx
  dradic_tech/app/modules/api.ts
  dradic_tech/app/routes/admin/login.tsx
  expense_tracker/app/components/ExpenseModal.tsx
  expense_tracker/app/components/Expenses/LazyExpenseComponents.tsx
  expense_tracker/app/components/HeaderControls.tsx
  expense_tracker/app/components/Icons.tsx
  expense_tracker/app/components/Incomes/AddIncomeModal.tsx
  expense_tracker/app/components/Incomes/IncomeModal.tsx
  expense_tracker/app/components/Incomes/LazyIncomeTable.tsx
  expense_tracker/app/components/Incomes/index.ts
  expense_tracker/app/contexts/AuthContext.tsx
  expense_tracker/app/demo/DemoExpenseManager.tsx
  expense_tracker/app/demo/useDemoData.ts
  expense_tracker/app/hooks/useExpenseOperations.ts
  expense_tracker/app/hooks/useIncomeData.ts
  expense_tracker/app/modules/apis.ts
  expense_tracker/app/modules/utils.ts
  expense_tracker/app/routes/login.tsx
  expense_tracker/app/routes/signup.tsx
Due: check-deps-expense-tracker-frontend, format-expense-tracker-frontend, lint-expense-tracker-frontend, check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Remove monthly summary endpoints from expenses and incomes routers: Clean up unused code related to monthly expense and income summaries, enhancing maintainability and reducing complexity in the API.
  unified_backend/apis/routers/expense_tracker/expenses.py
  unified_backend/apis/routers/expense_tracker/incomes.py
Due: format-expense-tracker, lint-expense-tracker, mypy-expense-tracker

Removed store.ts and hardcoded placeholder img route
  dradic_tech/app/components/PostList.tsx
  dradic_tech/app/components/SearchModal.tsx
  dradic_tech/app/modules/store.ts
  dradic_tech/app/routes/blog/post.tsx
  dradic_tech/app/routes/portfolio/apps.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

ADd vercel preset
  dradic_tech/package.json
  dradic_tech/pnpm-lock.yaml
  dradic_tech/react-router.config.ts
Due: none

Removed vercel preset and moved images to assets
  dradic_tech/app/assets/TallyUp.webp
  dradic_tech/app/assets/blog_post_placeholder.webp
  dradic_tech/app/assets/dusan.webp
  dradic_tech/app/components/PostList.tsx
  dradic_tech/app/components/SearchModal.tsx
  dradic_tech/app/routes/about.tsx
  dradic_tech/app/routes/blog/post.tsx
  dradic_tech/app/routes/portfolio/apps.tsx
  dradic_tech/package.json
  dradic_tech/pnpm-lock.yaml
  dradic_tech/react-router.config.ts
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Update .gitignore to clean up unnecessary entries and add new image assets: blog_post_placeholder.webp, dusan.webp, and TallyUp.webp.
  .gitignore
  dradic_tech/public/assets/TallyUp.webp
  dradic_tech/public/assets/blog_post_placeholder.webp
  dradic_tech/public/assets/dusan.webp
Due: none

Refactor image paths in components and routes to use absolute paths instead of relative paths. Clean up unnecessary code and ensure consistent handling of image assets across the application.
  dradic_tech/app/components/PostList.tsx
  dradic_tech/app/components/SearchModal.tsx
  dradic_tech/app/routes/about.tsx
  dradic_tech/app/routes/blog/post.tsx
  dradic_tech/app/routes/portfolio/apps.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Add vercel preset
  dradic_tech/.gitignore
  dradic_tech/package.json
  dradic_tech/pnpm-lock.yaml
  dradic_tech/react-router.config.ts
Due: none

Changed directory of images
  dradic_tech/app/components/PostList.tsx
  dradic_tech/app/components/SearchModal.tsx
  dradic_tech/app/routes/about.tsx
  dradic_tech/app/routes/blog/post.tsx
  dradic_tech/app/routes/portfolio/apps.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Add Contact page and form component; update routing and Navbar
  dradic_tech/app/components/ContactForm.tsx
  dradic_tech/app/components/Navbar.tsx
  dradic_tech/app/components/ThemeToggle.tsx
  dradic_tech/app/components/UnifiedNav.tsx
  dradic_tech/app/routes.ts
  dradic_tech/app/routes/contact.tsx
  dradic_tech/app/routes/index.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Remove unused import
  dradic_tech/app/components/ContactForm.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Refactor UserProfile component to improve loading state handling. Update AuthContext to streamline user profile loading by utilizing session data first, enhancing performance and user experience.
  expense_tracker/app/components/UserProfile.tsx
  expense_tracker/app/contexts/AuthContext.tsx
Due: check-deps-expense-tracker-frontend, format-expense-tracker-frontend, lint-expense-tracker-frontend

Update button styles in app.css for btn-secondary to use primary color and adjust hover effects. Modify ThemeToggle component to change icon colors based on theme, enhancing visual consistency.
  dradic_tech/app/app.css
  dradic_tech/app/components/ThemeToggle.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Add suspense to IncomesTableData
  expense_tracker/app/routes/incomes.tsx
Due: check-deps-expense-tracker-frontend, format-expense-tracker-frontend, lint-expense-tracker-frontend

Fix data mapping with default empty values
  expense_tracker/app/hooks/useIncomesTableData.tsx
Due: check-deps-expense-tracker-frontend, format-expense-tracker-frontend, lint-expense-tracker-frontend

Update EmptyState component to conditionally render title and description. Modify Expenses and Incomes components to utilize the updated EmptyState with appropriate messages when no data is available.
  expense_tracker/app/components/EmptyState.tsx
  expense_tracker/app/routes/expenses.tsx
  expense_tracker/app/routes/incomes.tsx
Due: check-deps-expense-tracker-frontend, format-expense-tracker-frontend, lint-expense-tracker-frontend

Fix dropdown width
  expense_tracker/app/components/Dropdown.tsx
Due: check-deps-expense-tracker-frontend, format-expense-tracker-frontend, lint-expense-tracker-frontend

Add user roles and implement many-to-many group memberships
  unified_backend/apis/models.py
  unified_backend/apis/routers/expense_tracker/users.py
  unified_backend/db_migrations/base_schema.sql
  unified_backend/db_migrations/migrations/models.py
  unified_backend/db_migrations/migrations/versions/add_user_roles_many_groups.py
Due: format-expense-tracker, lint-expense-tracker, mypy-expense-tracker

Remove group name from expense and income queries, replacing it with NULL. Update income query to join with user_groups instead of groups for improved user group management.
  unified_backend/apis/routers/expense_tracker/expenses.py
  unified_backend/apis/routers/expense_tracker/incomes.py
Due: format-expense-tracker, lint-expense-tracker, mypy-expense-tracker

Update dropdown width in UnifiedNav component and add new allowed origins in backend API configuration
  dradic_tech/app/components/UnifiedNav.tsx
  unified_backend/apis/main.py
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Fixed origins and tally url
  dradic_tech/app/routes/portfolio/apps.tsx
  unified_backend/apis/main.py
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Blog post fetching sorted by created_at
  unified_backend/apis/routers/blog.py
Due: none

Add Terraform configuration for development and production environments
  .gitignore
  infra/environments/dev/.terraform.lock.hcl
  infra/environments/dev/backend.tf
  infra/environments/dev/main.tf
  infra/environments/dev/outputs.tf
  infra/environments/dev/terraform.tfvars
  infra/environments/dev/variables.tf
  infra/environments/prod/backend.tf
  infra/environments/prod/main.tf
  infra/environments/prod/outputs.tf
  infra/environments/prod/terraform.tfvars
  infra/environments/prod/variables.tf
  infra/modules/ec2/main.tf
  infra/modules/ec2/outputs.tf
  infra/modules/ec2/variables.tf
  infra/modules/ecr/main.tf
  infra/modules/ecr/outputs.tf
  infra/modules/ecr/variables.tf
  infra/modules/ecs/main.tf
  infra/modules/ecs/outputs.tf
  infra/modules/ecs/variables.tf
  infra/modules/iam/main.tf
  infra/modules/iam/outputs.tf
  infra/modules/iam/variables.tf
  infra/modules/networking/main.tf
  infra/modules/networking/outputs.tf
  infra/modules/networking/variables.tf
  infra/modules/ssm/main.tf
  infra/modules/ssm/outputs.tf
  infra/modules/ssm/variables.tf
  unified_backend/apis/Dockerfile
  unified_backend/apis/run_build_and_deploy.sh
Due: none

Implement email subscription feature in Footer and Blog components
  dradic_tech/app/components/Footer.tsx
  dradic_tech/app/components/Icons.tsx
  dradic_tech/app/components/SimpleInput.tsx
  dradic_tech/app/components/SimpleNotification.tsx
  dradic_tech/app/modules/utils.ts
  dradic_tech/app/routes/blog/index.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Update README to reflect changes in infrastructure directory and clarify ECS configuration
  README.md
Due: none

Refactor contact handling and UI updates across components
  dradic_tech/README.md
  dradic_tech/app/app.css
  dradic_tech/app/components/ContactForm.tsx
  dradic_tech/app/components/Footer.tsx
  dradic_tech/app/components/Logo.tsx
  dradic_tech/app/components/Navbar.tsx
  dradic_tech/app/components/UnifiedNav.tsx
  dradic_tech/app/root.tsx
  dradic_tech/app/routes.ts
  dradic_tech/app/routes/about.tsx
  dradic_tech/app/routes/admin/index.tsx
  dradic_tech/app/routes/admin/login.tsx
  dradic_tech/app/routes/blog/index.tsx
  dradic_tech/app/routes/blog/post.tsx
  dradic_tech/app/routes/contact.tsx
  dradic_tech/app/routes/index.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Update psycopg2 dependency to psycopg2-binary and increment lock file revision
  unified_backend/apis/pyproject.toml
  unified_backend/apis/utils/supabase_service.py
  unified_backend/apis/uv.lock
Due: none

Add deploy command to README and remove sensitive echo statements from deployment script
  unified_backend/apis/README.md
  unified_backend/apis/run_build_and_deploy.sh
Due: none

Fixed ecs health checks
  infra/modules/ecs/main.tf
  unified_backend/apis/run_build_and_deploy.sh
Due: none

Enhance PostEditor and MDXEditor with view mode functionality and link handling
  dradic_tech/app/components/MDXEditor.tsx
  dradic_tech/app/components/PostEditor.tsx
  dradic_tech/app/components/markdown/MarkdownConfig.ts
  dradic_tech/app/components/markdown/MarkdownRenderer.tsx
  dradic_tech/app/components/markdown/markdownUtils.ts
  dradic_tech/app/routes/blog/post.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Show recent post prop to recent posts
  dradic_tech/app/routes/blog/index.tsx
  dradic_tech/app/routes/index.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Remove AboutPage component from Home and adjust Post component layout by eliminating unnecessary padding
  dradic_tech/app/routes/blog/post.tsx
  dradic_tech/app/routes/index.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Refactor components for improved layout and functionality
  dradic_tech/app/components/MDXEditor.tsx
  dradic_tech/app/components/Navbar.tsx
  dradic_tech/app/components/PostEditor.tsx
  dradic_tech/app/routes/about.tsx
  dradic_tech/app/routes/blog/index.tsx
  dradic_tech/app/routes/blog/post.tsx
  dradic_tech/app/routes/index.tsx
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

Add initial setup for Gym Tracker application
  gym_tracker/.eslintrc.json
  gym_tracker/.gitignore
  gym_tracker/README.md
  gym_tracker/app/dashboard/page.tsx
  gym_tracker/app/globals.css
  gym_tracker/app/layout.tsx
  gym_tracker/app/log-workout/page.tsx
  gym_tracker/app/login/page.tsx
  gym_tracker/app/page.tsx
  gym_tracker/app/providers.tsx
  gym_tracker/components/AuthGuard.tsx
  gym_tracker/components/Loader.tsx
  gym_tracker/components/Navbar.tsx
  gym_tracker/components/Sidebar.tsx
  gym_tracker/components/ThemeToggle.tsx
  gym_tracker/contexts/AuthContext.tsx
  gym_tracker/contexts/ThemeContext.tsx
  gym_tracker/lib/apis.ts
  gym_tracker/lib/supabase.ts
  gym_tracker/lib/types.ts
  gym_tracker/middleware.ts
  gym_tracker/next.config.js
  gym_tracker/package.json
  gym_tracker/pnpm-lock.yaml
  gym_tracker/postcss.config.js
  gym_tracker/tailwind.config.ts
  gym_tracker/tsconfig.json
Due: none

Add Gym Tracker functionality with exercises and activities management
  unified_backend/apis/main.py
  unified_backend/apis/models.py
  unified_backend/apis/routers/gym_tracker/__init__.py
  unified_backend/apis/routers/gym_tracker/exercises.py
  unified_backend/apis/routers/gym_tracker/gym_activity.py
  unified_backend/apis/utils/db.py
  unified_backend/db_migrations/migrations/versions/b11314634d95_add_gym_tracker_tables.py
Due: none

Fix React Server Components CVE vulnerabilities
  gym_tracker/package.json
  gym_tracker/pnpm-lock.yaml
Due: none

Add Gym Tracker to local run script and portfolio
  dradic_tech/app/routes/portfolio/apps.tsx
  dradic_tech/public/assets/gymTracker.png
  run_local.sh
  unified_backend/apis/main.py
Due: check-deps-dradic-tech-frontend, format-dradic-tech-frontend, lint-dradic-tech-frontend

added init files missing
  unified_backend/apis/routers/__init__.py
  unified_backend/apis/utils/__init__.py
Due: none

Added requirements.txt file
  unified_backend/apis/requirements.txt
Due: none

Path conditions:
  format-expense-tracker: any of: ^unified_backend/apis/routers/expense_tracker/
  lint-expense-tracker: any of: ^unified_backend/apis/routers/expense_tracker/
  mypy-expense-tracker: any of: ^unified_backend/apis/routers/expense_tracker/
  check-deps-expense-tracker-frontend: any of: ^expense_tracker/
  format-expense-tracker-frontend: any of: ^expense_tracker/app/.*\.(js|jsx|ts|tsx|css|scss|json|md)$
  lint-expense-tracker-frontend: any of: ^expense_tracker/app/.*\.(js|jsx|ts|tsx)$
  check-deps-dradic-tech-frontend: any of: ^dradic_tech/app/
  format-dradic-tech-frontend: any of: ^dradic_tech/app/.*\.(js|jsx|ts|tsx|css|scss|json|md)$
  lint-dradic-tech-frontend: any of: ^dradic_tech/app/.*\.(js|jsx|ts|tsx)$
